stages:
  - docker
  - deploy
  - test
  - tag

Build & push Image:
  image: docker:latest
  stage: docker
  cache:
    key: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_NAME}
    paths:
      - vendor/bundle
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    REGISTRY_URL: registry.mapotempo.com
  script:
    - apk update > /dev/null && apk add git bash jq curl > /dev/null
    - docker login -u $USER -p $PASSWORD $REGISTRY_URL
    - |
      DOCKER_FILE='./docker/Dockerfile' \
        CI_COMMIT_REF_NAME=${CI_COMMIT_REF_NAME} \
        PORTUS_TOKEN=${PORTUS_TOKEN} \
        PROJECT_NAME=${CI_PROJECT_NAME} \
        REGISTRY_URL=${REGISTRY_URL} \
        TEST_GITHUB=1 \
        USER=$USER \
        ./ci-utils/build_and_push.sh
  only:
    - alpha
    - beta
    - prod
    - dev
    - master

Deploy to swarm for beta:
  image: debian:latest
  stage: deploy
  script:
    - apt-get update -q > /dev/null && apt-get install curl -yqq > /dev/null
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_BETA_API}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_BETA_LARGE}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_BETA_SMALL}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_BETA_TEST}
  only:
    - beta

Deploy to swarm for alpha:
  image: debian:latest
  stage: deploy
  script:
    - apt-get update -q > /dev/null && apt-get install curl -yqq > /dev/null
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_ALPHA_API}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_ALPHA_LARGE}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_ALPHA_SMALL}
    - curl -X POST https://portainer-beta.mapotempo.com/api/webhooks/${HOOK_ALPHA_TEST}
  only:
    - alpha

Test rake:
  image: docker:latest
  services:
    - docker:dind
  stage: test
  script:
    - docker login -u $USER -p $PASSWORD $REGISTRY_URL
    - DOCKER_SERVICE_NAME=optimizer_api ROUTER_API_KEY=${ROUTER_API_KEY} ROUTER_URL=${ROUTER_URL} ./ci-utils/rake_test.sh
  only:
    - dev
    - master

Tag issues:
  image: debian:latest
  stage: tag
  script:
    - apt-get update -q > /dev/null && apt-get install jq curl git -yqq > /dev/null
    - CI_PROJECT_ID=${CI_PROJECT_ID} MILESTONE=${MILESTONE} PRIVATE_TOKEN=${PRIVATE_TOKEN} LABEL=${CI_COMMIT_REF_NAME} ./ci-utils/tag_issues.sh
  environment:
    name: ${CI_COMMIT_REF_NAME}
  only:
    - beta
