stages:
  - test
  - docker
  - deploy
  - tag

Build & push Image:
  image: docker:latest
  stage: docker
  cache:
    key: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_NAME}
    paths:
      - vendor/bundle
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    REGISTRY_URL: registry.mapotempo.com
    VROOM_VERSION: v1.2.0
    OPTIMIZER_ORTOOLS_VERSION: v1.2.0
  script:
    - apk update > /dev/null && apk add git bash jq curl > /dev/null
    - docker login -u $USER -p $PASSWORD $REGISTRY_URL
    - |
      DOCKER_FILE='./docker/Dockerfile' \
        CI_COMMIT_REF_NAME=${CI_COMMIT_REF_NAME} \
        PORTUS_TOKEN=${PORTUS_TOKEN} \
        PROJECT_NAME=${CI_PROJECT_NAME} \
        REGISTRY_URL=${REGISTRY_URL} \
        VROOM_VERSION=${VROOM_VERSION}\
        OPTIMIZER_ORTOOLS_VERSION=${OPTIMIZER_ORTOOLS_VERSION}\
        USER=$USER \
        ./ci-utils/build_and_push.sh
  only:
    - prod-initial
    - beta
    - prod
    - dev
    - master

Deploy to swarm for prod-initial:
  image: debian:latest
  stage: deploy
  script:
    - apt-get update -q > /dev/null && apt-get install curl -yqq > /dev/null
    - ./ci-utils/deploy.sh
  only:
    - prod-initial

# Test:
#   image: docker:latest
#   services:
#     - docker:dind
#   stage: test
#   variables:
#     ROUTER_API_KEY: ${ROUTER_API_KEY}
#     ROUTER_URL: ${ROUTER_URL}
#   script:
#     - docker build --build-arg VROOM_VERSION=${VROOM_VERSION:-v1.2.0} --build-arg OPTIMIZER_ORTOOLS_VERSION=${OPTIMIZER_ORTOOLS_VERSION:-v1.2.0} -f docker/Dockerfile -t registry.test.com/mapotempo/optimizer-api:latest .
#     - docker swarm init
#     - mkdir -p ./redis
#     - docker stack deploy -c ./docker/docker-compose.yml optimizer
#     - /bin/sh ./ci-utils/tests.sh basis
#   only:
#     - prod-initial

Tag issues:
  image: debian:latest
  stage: tag
  script:
    - apt-get update -q > /dev/null && apt-get install jq curl git -yqq > /dev/null
    - CI_PROJECT_ID=${CI_PROJECT_ID} MILESTONE=${MILESTONE} PRIVATE_TOKEN=${PRIVATE_TOKEN} LABEL=${CI_COMMIT_REF_NAME} ./ci-utils/tag_issues.sh
  environment:
    name: ${CI_COMMIT_REF_NAME}
  only:
    - beta
